<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.


*   List popular languages that Data Scientists use.

*   List commonly used libraries used by Data Scientists.

* Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:


1.   Python.
2.   R.
3.   SQL.

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.

1.   NumPy.
2. SciPy.
3. Pandas.
4. Matplotlib.
5. Keras.
6. SciKit-Learn.
7. PyTorch.

<table style=\"width:100%\">
      <tr>
        <th>Data Science Tools</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>SAS. It is one of those data science tools which are specifically designed for statistical operation<td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Apache Spark</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>BigML</td>
        <td></td>
        <td></td>
      </tr></table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.
</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

<h2>Author</h2>
Tin Do